global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: true

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure

  websecure:
    address: :443
    http:
      middlewares:
      - secureHeaders@file
      tls:
        certResolver: letsencrypt

providers:
  file:
    directory: "/etc/traefik/config"
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: "aravindr597@gmail.com"
      storage: /traefik/acme.json
      keyType: 'EC256'
      certificatesDuration: 2160
      httpChallenge:
        entryPoint: web


